<link rel="stylesheet" href="/style/mapPage.css">

<div id="content">
  <div id="map"></div>
  <div id="interface" class="card rounded">
    <div class="py-2 px-4 row justify-content-between align-content-center">
      <div class="col-auto">
        <a href="/" class="me-auto icon link-home">
          <img class="btn-home" src="/image/icon/GuacaShield.png" alt="icon"/>
        </a>
      </div>
      <div class="col-auto p-2">
        <span class="ms-auto title">{{ this.user.name }}</span>
      </div>
    </div>
    <div class="card-body">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Incident</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#ifEmpty incidents}}
            <tr>
              <td colspan="3" class="text-center">No incidents</td>
            </tr>
            {{else}}
              {{#each incidents}}
              <tr>
                <td>{{ this.title }}</td>
                <td>{{ this.status }}</td>
                <td>
                  <button type="button" id="viewOnMap{{this.id}}" class="btn gradient-custom-2 custom-button">View</button>
                </td>
              </tr>
              {{/each}}
            {{/ifEmpty}}
          </tbody>
        </table>
        <div class="text-center">
          {{> incidentFormModal }}
        </div>
      </div>
    </div>
  </div>
</div>

{{> mapsScript }}
```