<link rel="stylesheet" href="/style/mapPage.css">

<div id="content">
  <div id="map"></div>
  <div id="interface" class="card rounded">
    <div class="pt-2 px-4 row justify-content-between align-content-center">
      <div class="col-auto">
        <a href="/" class="me-auto icon link-home">
          <img class="btn-home" src="/image/icon/GuacaShield.png" alt="icon"/>
        </a>
      </div>
      <div class="col-auto px-2 pt-2">
        <span class="ms-auto title">{{ this.user.pseudo }}</span>
      </div>
    </div>
    <div class="card-body py-0">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Incident</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#ifEmpty matchingIncidents}}
            <tr>
              <td class="text-center">No incidents</td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
          {{else}}
            {{#each matchingIncidents}}
              <tr>
                <td>{{ this.title }}</td>
                <td>{{ this.status }}</td>
                <td>
                  <button type="button" id="viewOnMap{{this.id}}" class="btn gradient-custom-2 custom-button">View</button>
                </td>
              </tr>
            {{/each}}
          {{/ifEmpty}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{> mapsHeroScript }}